/* --- base rules --- */
* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* typography */
html {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1rem, 0.96rem + 0.3vw, 1.5rem);
    font-display: swap;
    color: white;
}

/* styling */
a {
    text-decoration: none;
    color: white;
}

/* size */
.about img,
.work img {
    max-inline-size: 100%;
    height: auto;
    display: block;
   }


/* ---- layouts rules --- */
.about,
.work{
    padding: 2em;
    min-height: 100vh;
}

.about {
    margin-top: 45px;
}

/* --- module --- */
/* nav */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
}

summary::before {
    content: url('../icons/bars-solid.svg');
    float: right;
    padding: .8em 1.2em;
    width: 20px;
    height: 20px;
}

.navigation__smallerScreen > ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 50px;
}

.navigation__biggerScreen {
    display: none;
}

@media (min-width: 900px) {
    .navigation__smallerScreen {
        display: none;
    }

    .navigation__biggerScreen {
        display: flex;
    }
}

.navigation__logoText {
    padding: 0 1.2em;
}

.navigation__item a {
    display: block;
    padding: .7em 1.2em;
    text-align: center;
} 

/* about section */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.about__introduction p{
    max-inline-size: 66ch;
    padding: 15px;
    line-height: 1.6;
}

.usedTech__header {
    text-align: center;   
}

.usedTech__logos > img {
    margin: 10px;
}

.usedTech__logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

/* work */
.work__header {
    margin: 20px;
    text-align: center;
}

.work__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin: 1em 0;
}

.card figcaption {
    text-align: center;
}

/* tablet and bigger */
@media (min-width: 480px){
    .work__cards {
        display: grid;
        max-width: 1110px;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 30px;
        justify-items: center;
    }

    .card {
        margin: 0;
    }
}

/* for laptops and bigger */
@media (min-width: 1200px) {
    .about {
        display: grid;
        grid-template-columns: 1fr .5fr;
        justify-items: center;
    }

    .about__introduction {
        order: 1;
    }

    .about__hero {
        order: 2;
    }

    .usedTech {
        order: 3;
    }
}

/* contact */
.contact__information {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

@media (min-width: 480px){
    .contact__information{
        flex-direction: row;
        justify-content: center;
    }
}

.contact__item {
    display: flex;
    align-items: center;
    padding: 15px;
}
.contact__information img {
    padding-right: 5px;
}



/* --- Theme --- */
/* navigation */
.navigation {
    background-color: #BA2D0B; 
}

.navigation__smallerScreen > ul {
    background-color: #BA2D0B;
}

.navigation__logoText a {
    font-family: cursive;
    font-weight: bolder;
    font-size: 1.3em;
    text-shadow: 3px 3px 10px black;
}

summary,
li {
    list-style-type: none;
}

summary {
    cursor: pointer;
}

/* about */
.about {
    background-color: #082032;
}

.about__hero img {
    border-radius: 50%;
    box-shadow: 0 0 0 3px white;
}

/* work */
.work {
    background-color: #415a77;
}

.card figcaption {
    background-color: #082032;
    padding: 10px;
}

/* contact */
.contact {
    background-color: #082032;
}


/* --- changing state --- */
/* navigation */
.navigation__item a:hover {
    background-color: #082032;
}

li:nth-child(2) > a:hover {
    background-color: #415a77;
}

/* work */
.card {
    border: 1px solid transparent;
    transform: scale(1);
    transition: transform .4s;
}

.card:hover {
    transform: scale(1.02);
}

/* contact */
.contact__item {
    transform: scalex(1);
    transition: transform .4s;
}

.contact__item:hover {
    transform: scalex(1.1);
}