/* --- base rules --- */
* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-inline-size: 100%;
    height: auto;
   }

/* ---- layouts rules --- */
.about,
.work,
.contact {
    padding: 50px 20px;
}

#about,
#work,
#contact {
    min-height: 100vh;   
}

.work__cards,
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- module --- */
/* nav */
.navigation__list {
    display: flex;
    background-color: beige;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 50px;
}

.navigation__item {
    margin-left: 40px;
} 

/* about section */
.about {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.about__hero {
    align-self: center;
}

/* work */
.work__header {
    margin: 20px;
    text-align: center;
}

/* tablet and bigger */
@media (min-width: 480px){
    .work__cards {
        display: grid;
        max-width: 1070px;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 10px;
        justify-content: center;
        justify-items: center;
    }

}

/* contact */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact__information {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.contact__item {
    padding: 15px;
}
.contact__information img {
    padding-right: 5px;
}