/* base rules */
* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

figure > img {
    max-inline-size: 100%;
    height: auto;
   }

/* layouts rules */
/* mobile */

#about,
#contact {
    height: 100vh;   
}

.workCards,
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}